{% extends 'base.html.twig' %}

{% block title %}Edit Liste
{% endblock %}

{% block body %}
	<h1>Edit Liste</h1>

	<main>
		{{ include('liste/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_liste_index') }}">Revenir aux listes</a>

		{{ include('liste/_delete_form.html.twig') }}
	</main>
{% endblock %}
