{% extends 'base.html.twig' %}

{% block title %}Modifier le magasin
{% endblock %}

{% block body %}
	<h1>Modifier le magasin</h1>
	<main class="container my-4">
		<div class="row">
			<div class="col-md-8 actions">
				{{ include('magasin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
				<a href="{{ path('app_crud_show') }}" class="btn btn-info">Revenir au CRUD</a>
			</div>
		</div>
	</main>
{% endblock %}
