{# templates/components/header.html.twig #}
{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/footer.css') }}">
{% endblock %}

<footer>
    <div>
        <p>Site créé dans le cadre d'un projet académique.</p>
    </div>
</footer>
