{# templates/components/header.html.twig #}
{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/header.css') }}">
{% endblock %}

<header>
    <nav>
        <img src="" alt="">
        <span></span>
        <div>
            <span class="list-icon"></span>
            <a>Mes listes de courses</a>
        </div>
        <div>
            <span class="profile-icon"></span>
            <a>Mon profil</a>
        </div>

        <span></span>
        <div>
            <span class="logout-icon"></span>
            <a>Me déconnecter</a>
        </div>
    </nav>
</header>
