{# templates/components/header.html.twig #}
<header>
	<nav>
		<img src="{{ asset('images/logo.png')}}" alt="Logo">
		<span></span>
		<a class="btn btn-primary " href="{{ path('app_liste_index') }}">
			<i class="list-icon"></i>
			<p>Mes listes de courses</p>
		</a>
		<a class="btn btn-primary" href="{{ path('app_user_index') }}">
			<i class="profile-icon"></i>
			<p>Mon profil</p>
		</a>

		<span></span>
		<a class="btn btn-outline-danger" href="{{ path('app_logout') }}">
			<i class="logout-icon"></i>
			<p>Me déconnecter</p>
		</a>
	</nav>
</header>
