{% extends 'base.html.twig' %}

{%block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Mes listes de courses</h1>
    <main>
        <p>Test</p>
    </main>
{% endblock %}
