{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <nav>
            <img src="" alt="">
            <span></span>
            <ul>
                <li><a>Mes listes de courses</a></li>
                <li><a>Mon profil</a></li>
            </ul>
            <span></span>
            <ul>
                <li><a>Me déconnecter</a></li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenue sur la page d'accueil</h1>
{% endblock %}
